<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>

    <!--Select the Browser: Chrome, Firefox, IE -->
    <add key="Browser" value="Chrome" />

    <!--Run headless? y/n-->
    <add key="Headless" value="n" />

    <!--Open test report after? y/n-->
    <add key="Open" value="n" />

    <!--Project URL-->
    <add key="URL" value="http://google.com" />

    <!--User-->
    <add key="User" value="" />

    <!--ACCESS CODE-->
    <add key="Access" value="" />

    <!--VERIFY CODE-->
    <add key="Verify" value="" />

    <!--Product Version-->
    <add key="ProductVersion" value="" />

    <!--Report Title -->
    <add key="ReportTitle" value="Project Title" />

    <!--Report Path-->
    <add key="ReportPath" value="..\..\..\Reports\" />

    <!--Screenshot path-->
    <add key="ScreenshotPath" value="..\..\..\Reports\screenshots\" />

    <!--Excel file path-->
    <add key="ExcelPath" value="..\..\Data\TestData.xlsx" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <unitTestProvider name="xUnit" />
  </specFlow>
</configuration>